<?xml version="1.0"?>
<config>
    <modules>
        <Nobel_Bidding>
            <version>0.1.0</version>
        </Nobel_Bidding>
    </modules>
    <frontend>
        <routers>
            <bidding>
                <use>standard</use>
                <args>
                    <frontName>bidding</frontName>
                    <module>Nobel_Bidding</module>
                </args>
            </bidding>
        </routers>
        <layout>
            <updates>
                <bidding>
                    <file>bidding.xml</file>
                </bidding>
            </updates>
        </layout>

    </frontend>
    <global>
        <models>
            <nobel_bidding>
                <class>Nobel_Bidding_Model</class>
                <resourceModel>nobel_bidding_resource</resourceModel>
            </nobel_bidding>
            <nobel_bidding_resource>
                <class>Nobel_Bidding_Model_Resource</class>
                <entities>
                    <bid>
                        <table>bidding_bids</table>
                    </bid>
                </entities>
            </nobel_bidding_resource>
        </models>
        <blocks>
            <bidding>
                <class>
                    Nobel_Bidding_Block
                </class>
            </bidding>
            <nobel_bidding>
                <class>Nobel_Bidding_Block</class>
            </nobel_bidding>
        </blocks>
        <resources>
            <nobel_bidding_setup>
                <setup>
                    <module>Nobel_Bidding</module>
                </setup>
            </nobel_bidding_setup>
        </resources>
    </global>
    <default>
        <nobel_bidding>
            <general>
                <bid_default>0</bid_default>
            </general>
        </nobel_bidding>
    </default>
</config>