<?xml version="1.0"?>
<config>
    <modules>
        <Nobel_Labfinder>
            <version>0.1.5</version>
        </Nobel_Labfinder>
    </modules>
    <frontend>
        <routers>
            <findalab>
                <use>standard</use>
                <args>
                    <frontName>findalab</frontName>
                    <module>Nobel_Labfinder</module>
                </args>
            </findalab>
        </routers>
        <layout>
            <updates>
                <findalab>
                    <file>labfinder.xml</file>
                </findalab>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Nobel_Labfinder.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Nobel_Labfinder>
                    <files>
                        <default>Nobel_Labfinder.csv</default>
                    </files>
                </Nobel_Labfinder>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <nobel_labfinder>
                <class>Nobel_Labfinder_Model</class>
                <resourceModel>nobel_labfinder_resource</resourceModel>
            </nobel_labfinder>
            <nobel_labfinder_resource>
                <class>Nobel_Labfinder_Model_Resource</class>
                <entities>
                    <lab>
                        <table>labfinder_labs</table>
                    </lab>
                    <products>
                        <table>labfinder_products</table>
                    </products>
                    <services>
                        <table>labfinder_services</table>
                    </services>
                </entities>
            </nobel_labfinder_resource>
        </models>
        <blocks>
            <labfinder>
                <class>
                    Nobel_Labfinder_Block
                </class>
            </labfinder>
            <nobel_labfinder>
                <class>Nobel_Labfinder_Block</class>
            </nobel_labfinder>
        </blocks>
        <template>
            <email>
                <labfinder_contact_lab>
                    <label>Labfinder - Contact A Lab</label>
                    <file>labfinder_contact_lab.html</file>
                    <type>html</type>
                </labfinder_contact_lab>
                <labfinder_partner_request>
                    <label>Labfinder - Partner Request</label>
                    <file>labfinder_partner_request.html</file>
                    <type>html</type>
                </labfinder_partner_request>
            </email>
        </template>
        <helpers>
            <nobel_labfinder>
                <class>Nobel_Labfinder_Helper</class>
            </nobel_labfinder>
        </helpers>
        <resources>
            <nobel_labfinder_setup>
                <setup>
                    <module>Nobel_Labfinder</module>
                </setup>
            </nobel_labfinder_setup>
        </resources>
    </global>
    <default>
        <nobel_labfinder>
            <general>
                <contact_email>labfinder_contact_lab</contact_email>
                <new_lab_email>labfinder_partner_request</new_lab_email>
            </general>
        </nobel_labfinder>
    </default>
    <crontab>
        <jobs>
            <labfinder_SalesForce_Sync>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>nobel_labfinder/observer::runCron</model>
                </run>
            </labfinder_SalesForce_Sync>
        </jobs>
    </crontab>
</config>